doctype html
html(lang='en')
    head
        title Ordine Medici Caserta Notifications
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
        script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
    body(style='padding-top: 75px;')
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    img.navbar-brand(src='images/medici.png', alt='Company Logo', width='50', height='50')
                    a.navbar-brand(href='/home') Ordine Medici Caserta Notifications
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/aggiungiContatto') Anagrafica
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Eventi
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/creaEvento') Creazione
                                li.divider(role='separator')
                                li
                                    a(href='/modificaEvento') Modifica
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Invii
                                span.caret
                            ul.dropdown-menu
                                li.dropdown-submenu
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                        | Notifica
                                    ul.dropdown-menu
                                        li
                                            a(href='/assegnaEvento') Via Push Notifications
                                        li.divider(role='separator')
                                        li
                                            a(href='/gestioneSms') Via SMS
                                        li.divider(role='separator')
                                        li
                                            a(href='/gestioneEmail') Via E-mail
                                li.divider(role='separator')
                                li.dropdown-submenu
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                        | Report
                                    ul.dropdown-menu
                                        li
                                            a(href='/gestioneApp') Report App Scaricate
                                        li.divider(role='separator')
                                        li
                                            a(href='/gestioneNotifiche') Report Push Notifications
                                        li.divider(role='separator')
                                        li
                                            a(href='/') Report SMS
                                        li.divider(role='separator')
                                        li
                                            a(href='/tabEmail') Report E-mail
                    ul.nav.navbar-nav.navbar-right
                        li.active
                            a(href='/logout') Logout
        block myContainer
        .container-fluid
            .jumbotron
                .row
                    h1 Aggiungi Medico

            #myModal.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Creazione Effettuata con Successo!
                        // dialog buttons
                        .modal-footer

            #myModal1.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Inserire tutti i campi!
                        // dialog buttons
                        .modal-footer
            .row
                .col-sm-12
                    .row
                        // Nome
                        .col-sm-4.form-group
                            label.cols-sm-2.control-label(for='nome') Nome
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-user(aria-hidden='true')
                                    input#nome.form-control(type='text', name='nome', placeholder='Nome')
                        .col-md-4.form-group
                            label.cols-sm-2.control-label(for='cognome') Cognome
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-user(aria-hidden='true')
                                    input#cognome.form-control(type='text', name='cognome', placeholder='cognome')
                        .col-md-4.form-group
                            label.cols-sm-2.control-label(for='specializzazione') Specializzazione
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-user-md(aria-hidden='true')
                                    input#specializzazione.form-control(type='text', name='specializzazione', placeholder='Specializzazione')
                    .row
                        .col-md-4.form-group
                            label.cols-sm-2.control-label(for='provincia') Provincia
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-map-marker(aria-hidden='true')
                                    input#provincia.form-control(type='text', name='provincia', placeholder='Provincia')
                        .col-md-4.form-group
                            label.cols-sm-4.control-label(for='mail') Mail
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-envelope-o(aria-hidden='true')
                                    input#mail.form-control(type='text', name='mail', placeholder='e-mail')
                        .col-md-4.form-group
                            label.cols-sm-4.control-label(for='matricola') Matricola
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-list-ol(aria-hidden='true')
                                    input#matricola.form-control(type='text', name='matricola', placeholder='Matricola')
                    .row
                        .col-md-4.form-group
                            label.cols-sm-2.control-label(for='telefono') Numero di Telefono
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-phone(aria-hidden='true')
                                    input#telefono.form-control(type='text', name='telefono', placeholder='Numero di Telefono')
                        .col-md-4.form-group
                            label.cols-sm-4.control-label(for='pec') PEC
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-envelope-o(aria-hidden='true')
                                    input#pec.form-control(type='text', name='pec', placeholder='posta elettronica certificata')
                    .row
                        br
                        .container-fluid
                            button.btn.btn-warning.btn-lg.pull-right(onclick='salvaDati();') Inserisci
            br
            br
            br
        nav.navbar.navbar-default.navbar-fixed-bottom
            .container-fluid
                br
                p.copyright.pull-right
                    | © 2018 Ordine Medici Caserta Notifications -
                    a(href='http://www.ak12srl.it/')  AK-12 srl &nbsp;
                    img(src='images/ak12.png', alt='Company Logo', width='40', height='20')
            block myScript
                script(src="javascripts/controllers/aggiungiContattoController.js")