doctype html
html(lang='en')
    head
        title Ordine Medici Caserta
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/jquery.bootgrid.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
        script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
        script(src='javascripts/jquery.bootgrid.js')

    body(style='padding-top: 75px;')
        block myNav
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/home') Ordine Medici Caserta
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/aggiungiContatto') Aggiungi Medico
                        li
                            a(href='/creaEvento') Creazione Evento
                        li.active
                            a(href='/assegnaEvento') Assegna Evento
                        li
                            a(href='/gestioneNotifiche') Gestione Notifiche
        block myContainer
        .container-fluid
            .jumbotron
                .row
                    h1 Assegna Evento

            .row
                .col-sm-6
                    table#tabellaMedici.table.table-condensed.table-hover.table-striped(width="100%", cellspacing="0" , data-toggle='bootgrid', data-ajax='true')
                        thead
                            tr
                                th(data-column-id='_id', data-type='numeric', data-identifier='true', data-width="7%" , data-formatter="_id" , data-visible="false") ID
                                th(data-column-id='matricola', data-type='text', data-formatter="matricola") Matricola
                                th(data-column-id='cognome', data-type='text', data-formatter="cognome") Cognome
                                th(data-column-id='nome', data-type='text', data-formatter="nome") Nome
                                th(data-column-id='specializzazione', data-type='text', data-formatter="specializzazione") Specializzazione
                                th(data-column-id='citta', data-type='text', data-formatter="citta") Città
                                th(data-column-id='mail', data-type='text', data-formatter="mail") E-mail

                .col-sm-6
                    table#tabellaEventi.table.table-condensed.table-hover.table-striped(width="100%", cellspacing="0" , data-toggle='bootgrid', data-ajax='true')
                        thead
                            tr
                                th(data-column-id='_id', data-type='numeric', data-identifier='true', data-width="7%" , data-formatter="_id", data-visible="false") ID
                                th(data-column-id='titolo', data-type='text' , data-formatter="titolo") Titolo
                                th(data-column-id='sottotitolo', data-type='text', data-formatter="sottotitolo") Sottotitolo
                                th(data-column-id='data', data-formatter="data") Data
                                th(data-column-id='luogo', data-type='text', data-formatter="luogo") Luogo
                                th(data-column-id='informazioni', data-type='text', data-formatter="informazioni") Informazioni
                                th(data-column-id='relatori', data-type='text', data-formatter="relatori") Relatori
                                th(data-column-id='descrizione', data-type='text', data-formatter="descrizione") Descrizione
        br
        .container-fluid
            button.btn.btn-primary.pull-right(onclick='salvaDati();') Assegna
        br
    block myScript
        script(src="javascripts/controllers/assegnaEventoController.js")