doctype html
html(lang='en')
    head
        title Ordine Medici Caserta
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/jquery.dataTables.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
        script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
        script(src='javascripts/datatables.min.js')

    body(style='padding-top: 75px;')
        block myNav
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/home') Ordine Medici Caserta
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/aggiungiContatto') Aggiungi Medico
                        li
                            a(href='/creaEvento') Creazione Evento
                        li.active
                            a(href='/assegnaEvento') Assegna Evento
                        li
                            a(href='/gestioneNotifiche') Gestione Notifiche
        block myContainer
        .container-fluid
            .jumbotron
                .row
                    h1 Assegna Evento

            #myModal.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Medico già notificato!
                        // dialog buttons
                        .modal-footer

            #myModal1.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Notifica inviata con Successo!
                        // dialog buttons
                        .modal-footer

            .row
                .col-sm-6.table-responsive
                    table#tabellaMedici.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th id
                                th Matricola
                                th Cognome
                                th Nome
                                th Specializzazione
                                th Provincia
                                th Mail

                .col-sm-6.table-responsive
                    table#tabellaEventi.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th id
                                th Titolo
                                th Sottotitolo
                                th Luogo
                                th Data Inizio
                                th Data Fine
                                th Informazioni
                                th Relatori
                                th Descrizione

        br
        .container-fluid
            button#SalvaDati.btn.btn-primary.pull-right(onclick='salvaDati();') Assegna
            br
            br
            br
            .row
                .col-xs-12.col-sm-12.progress-container
                    .progress.progress-striped.active
                        .progress-bar.progress-bar-success(style='width:0%')
        br
    block myScript
        script(src="javascripts/controllers/assegnaEventoController.js")