doctype html
html(lang='en')
    head
        title Notifications Center
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', href='stylesheets/jquery.dataTables.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
        script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
        script(src='javascripts/datatables.min.js')
        script(src='javascripts/dataTables.select.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js')


    body(style='padding-top: 75px;')
        block myNav
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    img.navbar-brand(src='images/centerLogo.svg', alt='Company Logo', width='50', height='50')
                    a.navbar-brand(href='/home') Notifications Center
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Anagrafica
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/aggiungiContatto') Creazione
                                li.divider(role='separator')
                                li
                                    a(href='/modificaContatto') Modifica
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Eventi
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/creaEvento') Creazione
                                li.divider(role='separator')
                                li
                                    a(href='/modificaEvento') Modifica
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Gestione
                                span.caret
                            ul.dropdown-menu
                                li.active
                                    a(href='/assegnaEvento') Invio Notifiche
                                li.divider(role='separator')
                                li
                                    a(href='/gestioneNotifiche') Gestione Report
                    ul.nav.navbar-nav.navbar-right
                        li.active
                            a(href='/logout') Logout
        block myContainer
        .container-fluid
            .jumbotron
                .row
                    h1 Gestione Invio Notifiche

            #myModal.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Medico già notificato!
                        // dialog buttons
                        .modal-footer

            #myModal1.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Invio!
                            .row
                                .col-md-12
                                    h3#myHeader Caricamento In Corso...
                                        br
                                        .progress.progress-striped.active.page-progress-bar
                                            .progress-bar(style='width: 100%;')
                                                | Attendere Prego

            .row
                .col-sm-4
                    h3 Seleziona modalità di comunicazione
            .row
                .col-sm-2
                    h4 Push Notifications
                    .material-switch
                        input#invioPush(name='someSwitchOption001', type='checkbox', checked=true, onchange='switchTable();')
                        label.label-success(for='invioPush')
                .col-sm-2
                    h4 E-mail
                    .material-switch
                        input#invioEmail(name='someSwitchOption001', type='checkbox', checked=true, onchange='switchTable();')
                        label.label-success(for='invioEmail')
                .col-sm-2
                    h4 SMS
                    .material-switch
                        input#invioSms(name='someSwitchOption001', type='checkbox', checked=true, onchange='switchTable();', disabled=true)
                        label.label-success(for='invioSms')
            hr
            .row
                .col-sm-4
                    h3 Seleziona L'evento
                .col-sm-6.pull-right
                    h3 Seleziona i contatti
            .row
                .col-sm-6.table-responsive
                    table#tabellaEventi.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th id
                                th Titolo Evento
                                th Sottotitolo Evento
                                th Luogo
                                th Data Inizio
                                th Data Fine
                                th Informazioni
                                th Relatori
                                th Descrizione

                .col-sm-6.table-responsive
                    table#tabellaMedici.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th id
                                th Matricola
                                th Cognome
                                th Nome
                                th Professione
                                th Residenza

            br
            .container-fluid
                .row
                    .col-sm-2.pull-right
                        button#SalvaDati.btn.btn-default.btn-lg.pull-right.btn-block(onclick='salvaDati();') Invia
                    .col-sm-2.pull-right
                        button#SelezionaTutti.btn.btn-default.btn-lg.pull-right.btn-block(onclick='selezionaTutti();') Seleziona Tutti
                    .col-sm-2.pull-right
                        button#DeselezionaTutti.btn.btn-default.btn-lg.pull-right.btn-block(onclick='deselezionaTutti();') Deseleziona Tutti
                br
            br
        br
        br
        br
        nav.navbar.navbar-default.navbar-fixed-bottom
            .container-fluid
                br
                p.copyright.pull-right
                    | © 2018 Notifications Center -
                    a(href='http://www.ak12srl.it/')  AK-12 srl &nbsp;
                    img(src='images/ak12.png', alt='Company Logo', width='40', height='20')
    block myScript
        script(src="javascripts/controllers/assegnaEventoController.js")