doctype html
html(lang='en')
    head
        title Notifications Center
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', href='stylesheets/dataTables.bootstrap.min.css')
        link(rel='stylesheet', href='https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/reset.css')
        link(rel='stylesheet', href='stylesheets/main.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        style(type='text/css').
            .back-link a {
                color: #4ca340;
                text-decoration: none;
                border-bottom: 1px #4ca340 solid;
            }

            .back-link a:hover,
            .back-link a:focus {
                color: #408536;
                text-decoration: none;
                border-bottom: 1px #408536 solid;
            }

            h1 {
                height: 100%;
                /* The html and body elements cannot have any padding or margin. */
                margin: 0;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-size: 32px;
                margin-bottom: 3px;
            }

            .entry-header {
                text-align: left;
                margin: 0 auto 50px auto;
                width: 80%;
                max-width: 978px;
                position: relative;
                z-index: 10001;
            }

            #demo-content {
                padding-top: 100px;
            }
        script(src='javascripts/modernizr.js')
        script(src='javascripts/jquery-2.1.1.js')
        script(src='javascripts/main.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/ui-lightness/jquery-ui.css', type='text/css', media='all')
        script(src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js', type='text/javascript')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='javascripts/datatables.min.js')
        script(src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js')
        script(src='https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js')
        script(src='https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js')
        script(src='javascripts/dataTables.buttons.min.js')
        script(src='javascripts/dataTables.select.min.js')


    body
        header.cd-header
            a.cd-3d-nav-trigger
                | Menu
                span
        nav.cd-3d-nav-container
            ul.cd-3d-nav
                li
                    a(href='/home') Notifications Center
                li
                    a(href='/gestioneInteressi') Interessi
                li
                    a(href='/gestioneContatto') Anagrafica
                li.cd-selected
                    a(href='/gestioneEventi') Eventi
                li
                    a(href='/assegnaEvento') Invio Notifiche
                li
                    a(href='/gestioneNotifiche') Gestione Report
                li
                    a(href='/chatOperatoreSMS') Chat
                li
                    a(href='/logout') Logout
        br
        #loader-wrapper
            #loader
            .loader-section.section-left
            .loader-section.section-right
        block myContainer
        .container-fluid

            .jumbotron
                .row
                    h1(style='text-align: center;') Gestione Evento / Nota Informativa

            #myModal1.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h2.modal-title Modifica Evento
                        .modal-body

                            .row
                                .col-sm-12
                                    // Titolo evento
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='titoloEvento') Titolo Evento
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-briefcase(aria-hidden='true')
                                                    input#titoloEvento.form-control(type='text', placeholder='Titolo evento')
                                    // Sottotitolo
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='sottotitoloEvento') Sottotitolo Evento
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-briefcase(aria-hidden='true')
                                                    input#sottotitoloEvento.form-control(type='text', placeholder='Sottotitolo evento')
                                    .row
                                        // Data Evento inizio
                                        .col-sm-6.form-group
                                            label.cols-sm-2.control-label(for='dataEvento') Dal giorno:
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-calendar(aria-hidden='true')
                                                    input#dataEvento.form-control(type='text', placeholder='GG/MM/AAAA')
                                        // Data Evento fine
                                        .col-sm-6.form-group
                                            label.cols-sm-2.control-label(for='dataEvento', placeholder='GG/MM/AAAA') Al giorno:
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-calendar(aria-hidden='true')
                                                    input#dataEventoFine.form-control(type='text')
                                        // Luogo Evento
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='luogoEvento') Luogo Evento
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-map-marker(aria-hidden='true')
                                                    input#luogoEvento.form-control(type='text', placeholder='Luogo evento')
                                    .row
                                        // Informazioni evento
                                        .col-sm-6.form-group
                                            label.cols-sm-2.control-label(for='informazioniEvento') Informazioni Evento (CFU, note, ecc.):
                                            textarea#informazioniEvento.form-control(rows='1', maxlength='500')
                                        // Relatori evento
                                        .col-sm-6.form-group
                                            label.cols-sm-2.control-label(for='relatoriEvento') Relatori Evento:
                                            textarea#relatoriEvento.form-control(rows='1', maxlength='500')
                                    .row
                                        // Descrizione evento
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='descrizioneEvento') Descrizione Evento:
                                            textarea#descrizioneEvento.form-control(rows='1', maxlength='2000')
                                    // Carica immagini evento da pc
                                    .row
                                        .col-sm-12
                                            label.cols-sm-2.control-label(for='caricaFoto') Carica Immagine da PC
                                            .input-group.input-file()
                                                span.input-group-addon
                                                    i.fa.fa-file-image-o.fa(aria-hidden='true')
                                                span.input-group-btn
                                                    button.btn.btn-primary.btn-choose(type='button') Seleziona
                                                input#caricaFoto.form-control(type='text', placeholder='Carica immagini da PC...')
                                                span.input-group-btn
                                                    button.btn.btn-primary.btn-reset(type='button') Reset
                        // dialog buttons
                        .modal-footer
                            button.btn.btn-primary.btn-block(type='button', onclick='updateEvento();') Salva
            #myModal2.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h2.modal-title Aggiungi Evento
                        .modal-body

                            .row
                                .col-sm-12
                                    // Titolo evento
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='titoloEvento2') Titolo Evento
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-briefcase(aria-hidden='true')
                                                    input#titoloEvento2.form-control(type='text', placeholder='Titolo evento')
                                    // Sottotitolo
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='sottotitoloEvento2') Sottotitolo Evento
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-briefcase(aria-hidden='true')
                                                    input#sottotitoloEvento2.form-control(type='text', placeholder='Sottotitolo evento')
                                    .row
                                        // Data Evento inizio
                                        .col-sm-6.form-group
                                            label.cols-sm-2.control-label(for='dataEvento2') Dal giorno:
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-calendar(aria-hidden='true')
                                                    input#dataEvento2.form-control(type='text', placeholder='GG/MM/AAAA')
                                        // Data Evento fine
                                        .col-sm-6.form-group
                                            label.cols-sm-2.control-label(for='dataEventoFine2') Al giorno:
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-calendar(aria-hidden='true')
                                                    input#dataEventoFine2.form-control(type='text', placeholder='GG/MM/AAAA')
                                        // Luogo Evento
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='luogoEvento2') Luogo Evento
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-map-marker(aria-hidden='true')
                                                    input#luogoEvento2.form-control(type='text', placeholder='Luogo evento')
                                    .row
                                        // Informazioni evento
                                        .col-sm-6.form-group
                                            label.cols-sm-2.control-label(for='informazioniEvento2') Informazioni Evento (CFU, note, ecc.):
                                            textarea#informazioniEvento2.form-control(rows='4', maxlength='500')
                                        // Relatori evento
                                        .col-sm-6.form-group
                                            label.cols-sm-2.control-label(for='relatoriEvento2') Relatori Evento:
                                            textarea#relatoriEvento2.form-control(rows='4', maxlength='500')
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='urlEvento') Url Evento:
                                            input#urlEvento.form-control(type = 'text', maxlength='600')
                                    .row
                                        // Descrizione evento
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='descrizioneEvento2') Descrizione Evento:
                                            textarea#descrizioneEvento2.form-control(rows='4', maxlength='2000')
                                    // Carica immagini evento da pc
                                    .row
                                        .col-sm-12
                                            label.cols-sm-2.control-label(for='caricaFoto2') Carica Immagine da PC
                                            .input-group.input-file()
                                                span.input-group-addon
                                                    i.fa.fa-file-image-o.fa(aria-hidden='true')
                                                span.input-group-btn
                                                    button.btn.btn-primary.btn-choose(type='button') Seleziona
                                                input#caricaFoto2.form-control(type='text', placeholder='Carica immagini da PC...')
                                                span.input-group-btn
                                                    button.btn.btn-primary.btn-reset(type='button') Reset
                        // dialog buttons
                        .modal-footer
                            button.btn.btn-primary.btn-block(type='button', onclick='addEvento();') Salva
            #myModal3.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Inserire tutti i campi!
                        // dialog buttons
                        .modal-footer
            #myModal4.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h2.modal-title Aggiungi Nota Informativa
                        .modal-body

                            .row
                                .col-sm-12
                                    // Titolo evento
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='titoloEvento4') Titolo Nota
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-briefcase(aria-hidden='true')
                                                    input#titoloEvento4.form-control(type='text', placeholder='Titolo Nota')
                                    // Sottotitolo
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='sottotitoloEvento4') Sottotitolo Nota
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-briefcase(aria-hidden='true')
                                                    input#sottotitoloEvento4.form-control(type='text', placeholder='Sottotitolo Nota')
                                    .row
                                        // Descrizione evento
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='descrizioneEvento4') Descrizione Nota:
                                            textarea#descrizioneEvento4.form-control(rows='1', maxlength='2000')
                        // dialog buttons
                        .modal-footer
                            button.btn.btn-primary.btn-block(type='button', onclick='addNota();') Salva
            #myModal5.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h2.modal-title Aggiungi Nota Informativa
                        .modal-body

                            .row
                                .col-sm-12
                                    // Titolo evento
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='titoloEvento5') Titolo Nota
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-briefcase(aria-hidden='true')
                                                    input#titoloEvento5.form-control(type='text', placeholder='Titolo Nota')
                                    // Sottotitolo
                                    .row
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='sottotitoloEvento5') Sottotitolo Nota
                                            .cols-sm-10
                                                .input-group
                                                    span.input-group-addon
                                                        i.fa.fa-briefcase(aria-hidden='true')
                                                    input#sottotitoloEvento5.form-control(type='text', placeholder='Sottotitolo Nota')
                                    .row
                                        // Descrizione evento
                                        .col-sm-12.form-group
                                            label.cols-sm-2.control-label(for='descrizioneEvento5') Descrizione Nota:
                                            textarea#descrizioneEvento5.form-control(rows='1', maxlength='2000')
                        // dialog buttons
                        .modal-footer
                            button.btn.btn-primary.btn-block(type='button', onclick='updateNota();') Salva
            #myModal6.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Inserire tutti i campi!
                        // dialog buttons
                        .modal-footer

            .row
                .col-sm-4
                    h3 Scegli un'opzione :
            .row
                .col-sm-2
                    h4 Evento
                    .material-switch
                        input#invioEvento(name='someSwitchOption001', type='checkbox', checked=false, onchange='switchTable();')
                        label.label-success(for='invioEvento')
                .col-sm-2
                    h4 Nota Informativa
                    .material-switch
                        input#invioNotainformativa(name='someSwitchOption001', type='checkbox', checked=false, onchange='switchTable();')
                        label.label-success(for='invioNotainformativa')
            br
            .row#hideInfo
                .col-sm-12
                    .alert.alert-danger
                        strong Info!
                        |  Selezionare solo un'opzione.
            hr
            .container-fluid#conteinerHideEvento
                .row
                    .col-sm-2
                        button#aggiungiEvento.btn.btn-primary.btn-lg(onclick='openModal2();') Aggiungi Evento
                    .col-sm-2
                        button#modificaEvento.btn.btn-primary.btn-lg(onclick='openModal();') Modifica Evento
                    .col-sm-2
                        button#eliminaEvento.btn.btn-primary.btn-lg(onclick='eliminaEvento();') Elimina Evento
            .container-fluid#conteinerHideNota
                .row
                    .col-sm-2
                        button#aggiungiNota.btn.btn-primary.btn-lg(onclick='openModal4();') Aggiungi Nota Informativa
                    .col-sm-2
                        button#modificaNota.btn.btn-primary.btn-lg(onclick='openModal5();') Modifica Nota Informativa
                    .col-sm-2
                        button#eliminaNota.btn.btn-primary.btn-lg(onclick='eliminaEvento();') Elimina Nota Informativa
            br
            .row
                .col-sm-12.table-responsive
                    table#tabellaEventi.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th
                                th Titolo Evento
                                th Sottotitolo Evento
                                th Luogo
                                th Data Inizio
                                th Data Fine
                                th Relatori

        br
        nav.navbar.navbar-default
            .container-fluid
                .row
                    a(target='_blank', href='http://www.ak12srl.it/', style="float:right; padding-top:8px")
                        img(src='images/ak12.png', alt='Company Logo', width='70', height='30')
                    h5(style="float:right; padding-top:18px") © Copyright 2018 - AK-12. All Rights Reserved.
    block myScript
        script(src="javascripts/controllers/gestioneEventiController.js")