doctype html
html(lang='en')
    head
        title Notifications Center
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/ui-lightness/jquery-ui.css', type='text/css', media='all')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', href='stylesheets/dataTables.bootstrap.min.css')
        link(rel='stylesheet', href='https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/buttons.bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/reset.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/main.css')
        style(type='text/css').
            .back-link a {
                color: #4ca340;
                text-decoration: none;
                border-bottom: 1px #4ca340 solid;
            }

            .back-link a:hover,
            .back-link a:focus {
                color: #408536;
                text-decoration: none;
                border-bottom: 1px #408536 solid;
            }

            h1 {
                height: 100%;
                /* The html and body elements cannot have any padding or margin. */
                margin: 0;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-size: 32px;
                margin-bottom: 3px;
            }

            .entry-header {
                text-align: left;
                margin: 0 auto 50px auto;
                width: 80%;
                max-width: 978px;
                position: relative;
                z-index: 10001;
            }

            #demo-content {
                padding-top: 100px;
            }
        script(src='javascripts/modernizr.js')
        script(src='javascripts/jquery-2.1.1.js')
        script(src='javascripts/main.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
        script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
        script(src='javascripts/datatables.min.js')
        script(src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js')
        script(src='https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js')
        script(src='https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js')
        script(src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js', type='text/javascript')
        script(src='javascripts/dataTables.buttons.min.js')
        script(src='javascripts/pdfmake.min.js')
        script(src='javascripts/buttons.print.min.js')
        script(src='javascripts/buttons.flash.min.js')
        script(src='javascripts/jszip.min.js')
        script(src='javascripts/vfs_fonts.js')
        script(src='javascripts/buttons.html5.min.js')

    body
        header.cd-header
            a.cd-3d-nav-trigger
                | Menu
                span
        nav.cd-3d-nav-container
            ul.cd-3d-nav
                li
                    a(href='/home') Notifications Center
                li
                    a(href='/gestioneInteressi') Interessi
                li
                    a(href='/gestioneContatto') Anagrafica
                li
                    a(href='/gestioneEventi') Eventi
                li
                    a(href='/assegnaEvento') Invio Notifiche
                li.cd-selected
                    a(href='/gestioneNotifiche') Gestione Report
                li
                    a(href='/logout') Logout
        br
        #loader-wrapper
            #loader
            .loader-section.section-left
            .loader-section.section-right
        block myContainer
        .container-fluid
            .jumbotron
                .row
                    h1(style='text-align: center;') Gestione Report

            .row
                .col-sm-4
                    h3 Scegli un'opzione :
            .row
                .col-sm-2
                    h4 Evento
                    .material-switch
                        input#invioEvento(name='someSwitchOption001', type='checkbox', checked=false, onchange='switchTable();')
                        label.label-success(for='invioEvento')
                .col-sm-2
                    h4 Nota Informativa
                    .material-switch
                        input#invioNotainformativa(name='someSwitchOption001', type='checkbox', checked=false, onchange='switchTable();')
                        label.label-success(for='invioNotainformativa')
            br
            .row#hideInfo
                .col-sm-12
                    .alert.alert-danger
                        strong Info!
                        |  Selezionare solo un'opzione.
            .row
                .col-sm-12.table-responsive
                    table#tabellaNotifiche.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th Id
                                th Username
                                th Cognome
                                th Nome
                                th Professione
                                th Titolo Evento
                                th Data Invio
                                th Tipo
                                th Stato
                                th Confermato
                                th Eliminato
                        tfoot
                            tr
                                th
                                th
                                th
                                th
                                th
                                th
                                th
                                th
                                th
                                th
                                th
            .container-fluid#conteinerHideEvento
                .row
                    .col-sm-2
                        h3 Esporta Report:
                .row
                    .col-sm-2
                       button#exportExcel.btn.btn-primary.btn-block(onclick='exportExcel();') Excel
                    .col-sm-2
                        button#exportPdf.btn.btn-primary.btn-block(onclick='exportPdf();') PDF
                    .col-sm-2
                        button#exportStampa.btn.btn-primary.btn-block(onclick='exportStampa();') Stampa
    br
    nav.navbar.navbar-default
        .container-fluid
            .row
                a(target='_blank', href='http://www.ak12srl.it/', style="float:right; padding-top:8px")
                    img(src='images/ak12.png', alt='Company Logo', width='70', height='30')
                h5(style="float:right; padding-top:18px") © Copyright 2018 - AK-12. All Rights Reserved.
    block myScript
        script(src="javascripts/controllers/gestioneNotificheController.js")