doctype html
html(lang='en')
  head
    title Ordine dei Medici Caserta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    link(href='stylesheets/bootstrap-datetimepicker.css', rel='stylesheet')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    script(src='javascripts/tether.min.js')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/popper.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
    script(src='javascripts/bootstrap-datetimepicker.min.js')

  body
    nav.navbar.navbar-expand-sm.bg-warning.navbar-light
      ul.navbar-nav
       block contenutoNav
        li.nav-item.active
          a.nav-link(href='#') Home
        li.nav-item
          a.nav-link(href='#') Gestione Utenti
        li.nav-item
          a.nav-link(href='#') Creazione Eventi
        li.nav-item
          a.nav-link(href='#') Invia Notifiche
    br
    .container-fluid
      .row
        .col-md-12.form-group
          label.col-sm-4.control-label(for='titoloEvento') Titolo Evento
          .input-group
            span.input-group-addon
              i.fa.fa-briefcase(aria-hidden='true')
            input#titoloEvento.form-control(type='text', name='titoloEvento', placeholder='Titolo')
      .row
        .col-md-12.form-group
          label.col-sm-4.control-label(for='sottotitoloEvento') Sottotitolo Evento
          .input-group
            span.input-group-addon
              i.fa.fa-briefcase(aria-hidden='true')
            input#sottotitoloEvento.form-control(type='text', name='sottotitoloEvento', placeholder='Sottotitolo')
      .row
        .col-md-6.form-group
          label.col-sm-4.control-label(for='dataEvento') Data Evento:
          #datetimepickerDataEvento.input-group.date
            span.input-group-addon
              i.fa.fa-calendar(aria-hidden='true')
            input#dataEvento.form-control(type='text')
        .col-md-6.form-group
          label.col-sm-4.control-label(for='luogoEvento') Luogo Evento:
          .input-group
            span.input-group-addon
              i.fa.fa-map-marker(aria-hidden='true')
            input#luogoEvento.form-control(type='text', name='luogoEvento', placeholder='Inserisci luogo evento')
      .row
        .col-md-6.form-group
          label.col-sm-4.control-label(for='informazioniEvento') Informazioni (CFU, note ecc.):
          .input-group
            textarea#informazioniEvento.form-control(name='informazioniEvento')
        .col-md-6.form-group
          label.col-sm-4.control-label(for='relatoriEvento') Relatori:
          .input-group
            textarea#relatoriEvento.form-control(name='relatoriEvento')
      .row
        .col-md-12.form-group
          label.col-sm-4.control-label(for='descrizioneEvento') Informazioni (CFU, note ecc.):
          .input-group
            textarea#descrizioneEvento.form-control(name='descrizioneEvento')
      .row
        .col-md-6.form-group
          form(method='POST', action='#', enctype='multipart/form-data')
            .input-group.input-file(name='fotoEvento')
              span.input-group-btn
                button.btn.btn-default.btn-choose(type='button')
                  | Scegli:
              input.form-control(type='text', placeholder='Choose a file...')
              span.input-group-btn
                button.btn.btn-warning.btn-reset(type='button')
                  | Salva!
  block myScript
    script(src="javascripts/controllers/indexController.js")