doctype html
html(lang='en')
    head
        title Ordine Medici Caserta
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
        script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')

    body(style='padding-top: 75px;')
        block myNav

        block myContainer
            .container
                .jumbotron
                    .row
                        h1(align="center") Login - Ordine Medici Caserta Notifications
                .card.card-container
                    img#logoOrdine.img-responsive(src='images/medici.png', style='margin:0 auto;')
                    br
                    form.form-signin
                        span#reauth-email.reauth-email
                        input#inputEmail.form-control(type='email', placeholder='Email', required='', autofocus='')
                        br
                        input#inputPassword.form-control(type='password', placeholder='Password', required='')
                        br
                        button.btn.btn-lg.btn-warning.btn-block.btn-signin(type='submit', onclick='loginEffettuatoConSuccesso();') Effettua Login
    block myScript
        script(src="javascripts/controllers/loginController.js")