doctype html
html(lang='en')
    head
        title Notifications Center
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
        script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')

    body(style='padding-top: 75px;')
        block myNav

        block myContainer
            .container
                .jumbotron
                    .row
                        h1(align="center") Login - Notifications Center

                #myModal1.modal.fade
                    .modal-dialog
                        .modal-content
                            // dialog body
                            .modal-body
                                button.close(type='button', data-dismiss='modal') ×
                                h1 Impossibile Accedere Utente non Autorizzato!
                            // dialog buttons
                            .modal-footer

                .card.card-container
                    img#logoOrdine.img-responsive(src='images/centerLogo.svg', style='margin:0 auto;')
                    br
                    .row
                        .col-sm-12.form-group
                        span#reauth-email.reauth-email
                        input#inputEmail.form-control(type='email', placeholder='Email', required='', autofocus='')
                        br
                        input#inputPassword.form-control(type='password', placeholder='Password', required='')
                        br
                        button.btn.btn-lg.btn-default.btn-block(onclick='loginEffettuatoConSuccesso();') Effettua Login
            br
            br
            br
            br
    block myScript
        script(src="javascripts/controllers/loginController.js")