<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/register-form.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/react.production.min.js"></script>
    <script src="/js/react-dom.production.min.js"></script>
    <script src="/js/babel.js"></script>
    <script type="text/babel" src="/js/register.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/login"><span class="bouncer"></span></a>
        </div>
    </div>
</div>
<div class="container" id="main">
</div>
</body>
</html>

