body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sfondo{
  background: transparent url('../images/sfondo.png') no-repeat;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  position:relative;
  min-height:100%;
  background-position: center;
  background-size: 100%;
}
